<!--<ion-content>

  
    <ion-card>
    <img src="{{ dataSource[0].path }}" />
    <ion-card-header>
      <ion-card-subtitle>Destination</ion-card-subtitle>
      <ion-card-title>Madison, WI</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-grid fixed>        
        <ion-row>
          <ion-col size="4">Longitude</ion-col>
          <ion-col> {{dataSource[0].data.gpsLoc.lng}}</ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="4">Latitude</ion-col>
          <ion-col>{{dataSource[0].data.gpsLoc.lat}}</ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="4">Created Date</ion-col>
          <ion-col>{{dataSource[0].createdAt | date:'medium'}}</ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>
  


</ion-content> -->

<ion-content padding class="trips detail-bg">
    <!--list of trips-->
    <div class="trip card" *ngFor="let attends of dataSource" tappable margin-bottom>
      <div class="background border-bottom" [ngStyle]="{'background-image': 'url(' + attends.path + ')'}">
        <div class="background-filter rlt">
          <div class="align-bottom" padding-left padding-right>
            <h6 class="pull-left text-white" ion-text>{{ attends.data.dttm.toDate() | date:'medium' }}</h6>
           <!-- <h6 class="pull-right text-white" ion-text>{{ attends.data.gpsLoc.lat }}</h6> -->
            <div class="clear"></div>
          </div>
        </div>
      </div>
      <div class="padding-sm primary-bg">
       <!-- <ion-icon name="time" class="text-white"></ion-icon> -->
        <span ion-text class="text-white">Longitude: {{ attends.data.gpsLoc.lng }}</span> 
        <span ion-text class="pull-right text-white">Latitude: {{ attends.data.gpsLoc.lat }}</span> 
        
        <!--<span class="pull-right" ion-text color="light">{{ attends.createdAt }}</span> -->
      </div>
    </div>
  </ion-content>